<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HERO Sightings - About Us</title>

        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Link to BS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Style CSS -->
        <link rel="stylesheet" href=".//styles//home.css">
    </head>

    <body>
        <div class="bg"></div>
        <div class="container-fluid">
            <div class="title">
                <h1><a href="#">Superheroes</a></h1>
                <h3>About</h3>
            </div>
            <div class="row m-4">
                <div class="col text-left col-lg-4 col-md-3 col-sm-3 col-xs-12">
                    <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                        <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
                    </a>
                </div>
                <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <a href="index.html" class="btn btn-outline-primary btn-lg" id="landingPage">Home</a>
                </div>
                <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">Heroes/Villians</a>
                </div>
                <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">Sightings</a>
                </div>
                <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <a id="nav-about" class="btn btn-outline-primary btn-lg">About</a>
                </div>
            </div>

            <div class="all">
                <div class="separator"></div>
                <div class="top-about">
                </div>
                <div class="separator"></div>

                <div class="middle">
                    <div class="about-1">
                        <h2>About Us</h2>
                        <div class="row">
                            <div class="column col-6 left">
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                            </div>
                            <div class="column col-6 right">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                                    at its
                                    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                    opposed to using
                                    'Content here, content here', making it look like readable English. Many desktop publishing packages and web
                                    page
                                    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
                                    web sites
                                    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose
                                    (injected humour and the like).</p>
                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>
                    <div class="bottom">

                    </div>
                </div>
            </div>

            <!--Scripts-->
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    </body>
</html>
