<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Delete Superpower</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/nav.css">
</head>

<body>
<!-- BEGIN BODY -->
<div class="container-fluid">
    <!-- NAVIGATION -->
    <div class="row m-4 navBar">
        <div class="domain col text-left col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="/" class="domain btn btn-outline-primary btn-lg" id="home">
                <h5>Home</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">
                <h5>Heroes/Villians</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="superpower" class="btn btn-outline-primary btn-lg" id="superpower">
                    <h5>Powers</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">
                <h5>Sightings</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="organization" class="btn btn-outline-primary btn-lg" id="organization">
                    <h5>Organization</h5>
                </a>
            </div>
            <div class="subdomain col text-center col-12">
                <a href="location" class="btn btn-outline-primary btn-lg" id="location">
                    <h5>Location</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a id="about" class="btn btn-outline-primary btn-lg">
                <h5>About</h5>
            </a>
        </div>
    </div>
    <!-- END NAVIGATION -->

    <!-- DELETE SUPERPOWER: VIEW SUPERHERO -->
    <div class="middle-deleteConfirmation bg-img">
        <div class="row m-4 view-hero bg-color white-text">
            <div class="column sec-1 col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-6 text-right"><strong>ID:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${superpower.superpowerId}">display id</span>
                    </div>

                    <div class="col-6 text-right"><strong>Power:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${superpower.name}">display name</span>
                    </div>

                    <div class="col-6 text-right"><strong>Description:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${superpower.description}">display description</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE SUPERPOWER: VIEW SUPERHERO -->

    <!-- CONFIRM TO DELETE -->
    <div class="confirmation bg-img">
        <div class="row m-4 edit-hero border-dark bg-color white-text">
            <div class="column col-12 text-center m-3">
                <span class="h3">Confirm to delete superpower?</span>
            </div>
            <div class="column col-12 text-center m-3">
                <form action="performDeleteSuperpower" method="get">
                    <!--hidden id tracking-->
                    <input type="hidden" name="id" th:value="${superpower.superpowerId}"/>

                    <button type="submit" class="btn btn-outline-success">Confirm</button>
                    <a href="superpower" class="btn btn-outline-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <!-- END CONFIRM TO DELETE -->

    <!-- FOOTER/ABOUT -->
    <div class="bottom" id="footer-about"></div>
    <!-- END FOOTER/ABOUT -->
</div>
<!-- END BODY -->

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script src="header.js"></script>
<script src="footer.js"></script>
<!-- END SCRIPTS -->

</body>
</html>