<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Edit Superpower</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
<!--Begin Body-->
<div class="container-fluid">
    <!--Navbar-->
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>HERO Sightings - Edit Power</h1>
            </div>
        </div>
        <div class="row m-4">
            <div class="col text-left col-lg-4 col-md-3 col-sm-3 col-xs-12">
                <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                    <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
                </a>
            </div>
            <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <a href="index.html" class="btn btn-outline-primary btn-lg" id="landingPage">Home</a>
            </div>
            <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">Heroes/Villains</a>
            </div>
            <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">Sightings</a>
            </div>
            <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <a id="nav-about" class="btn btn-outline-primary btn-lg">About</a>
            </div>
        </div>
    </div>

    <!--edit power form-->
    <div class="row m-4 border">
        <div class="col-3 text-center m-3"><h3>Edit Power</h3></div>
        <div class="col-7 text-center m-3">
            <!--edit form error box-->
            <div class="col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
                <p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">Error message</p>
            </div>

            <form action="editSuperpower" method="POST">
                <div class="form-group row">
                    <label for="name" class="col-form-label">Power:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="name" id="name" th:value="${superpower.name}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="description" class="col-form-label">Description:</label>
                    <div class="col-9">
                        <input type="text" class="form-control" name="description" id="description"
                               th:value="${superpower.description}">
                    </div>
                </div>

                <input type="hidden" name="id" th:value="${superpower.superpowerId}">

                <button type="submit" class="btn btn-outline-primary">Edit Power</button>
            </form>
        </div>
    </div>
</div>
<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
</body>
</html>