<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Edit Hero/Villain</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
<!--Begin Body-->
<div class="container-fluid">
    <!--Navbar-->
    <div class="row m-4 navBar">
        <div class="domain col text-left col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="index.html" class="domain btn btn-outline-primary btn-lg" id="home">
                <h5>Home</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">
                <h5>Heroes/Villians</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="superpower" class="btn btn-outline-primary btn-lg" id="superpower">
                    <h5>Powers</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">
                <h5>Sightings</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="organization" class="btn btn-outline-primary btn-lg" id="organization">
                    <h5>Organization</h5>
                </a>
            </div>
            <div class="subdomain col text-center col-12">
                <a href="location" class="btn btn-outline-primary btn-lg" id="location">
                    <h5>Location</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a id="about" class="btn btn-outline-primary btn-lg">
                <h5>About</h5>
            </a>
        </div>
    </div>

    <!--edit hero form-->
    <div class="middle-editConfirmation bg-img">
        <div class="row m-4 edit border-dark bg-color white-text">
            <div class="column col-lg-3 col-xs-12 text-center m-3">
                <span class="h3">Edit Hero</span>
            </div>
            <div class="column col-lg-7 col-xs-12 text-center m-3">
                <!--edit form error box-->
                <div class="column col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
                    <p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">Error
                        message</p>
                </div>

                <form action="editHero" method="POST" enctype="multipart/form-data">
                    <!--name-->
                    <div class="form-group row">
                        <label for="name" class="column col-lg-3 col-xs-12 col-form-label">
                            <h5>Name/Alias:</h5>
                        </label>
                        <div class="column col-lg-9 col-xs-12">
                            <input type="text" class="form-control" name="name" id="name" th:value="${hero.name}">
                        </div>
                    </div>

                    <!--description-->
                    <div class="form-group row">
                        <label for="description" class="column col-lg-3 col-xs-12 col-form-label">
                            <h5>Description:</h5>
                        </label>
                        <div class="column col-lg-9 col-xs-12">
                            <input type="text" name="description" id="description" class="form-control"
                                   th:value="${hero.description}">
                        </div>
                    </div>

                    <!--superpower select-->
                    <div class="form-group row">
                        <label for="superpower" class="column col-lg-3 col-xs-12 col-form-label">
                            <h5>Hero:</h5>
                        </label>
                        <div class="column col-lg-9 col-xs-12">
                            <select name="superpower" id="superpower" class="form-control">
                                <option th:each="superpower : ${superpowers}" th:value="${superpower.superpowerId}"
                                        th:text="${superpower.name}"
                                        th:selected="${hero.superpower.superpowerId == superpower.superpowerId}">
                                    Hero
                                </option>
                            </select>
                        </div>
                    </div>

                    <!--image upload-->
                    <img th:src="${hero.photoFileName}" alt="Hero picture" style="height: 250px; padding: 0;"/>
                    <div class="form-group row">
                        <label for="file" class="column col-xs-12 col-form-label">Hero Image</label>
                        <input type="file" name="file" id="file" class="form-control-file">
                    </div>

                    <!--hidden id tracking-->
                    <input type="hidden" name="id" th:value="${hero.heroId}"/>

                    <button type="submit" class="btn btn-outline-primary">Edit Hero</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="bottom" id="about"></div>
<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script src="footer.js"></script>
</body>

</html>