<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Edit Sighting</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<!--Begin Body-->
<!--Navbar-->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1>HERO Sightings</h1>
        </div>
    </div>
    <div class="row m-4">
        <div class="col text-left col-lg-4 col-md-3 col-sm-3 col-xs-12">
            <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
            </a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="index.html" class="btn btn-outline-primary btn-lg" id="landingPage">Home</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">Heroes/Villians</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">Sightings</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a id="nav-about" class="btn btn-outline-primary btn-lg">About</a>
        </div>
    </div>
</div>

<!--edit sighting form with errors boxes under fields-->
<div class="row m-4 border">
    <div class="col-3 text-center m-3">
        <span class="h3">Edit Sighting</span>
    </div>
    <div class="col-7 text-center m-3">
        <form action="editSighting" method="POST">
            <!--date-->
            <div class="form-group row">
                <label for="date" class="col-3 col-form-label">Date:</label>
                <div class="col-9">
                    <input type="date" name="date" id="date" class="form-control" th:value="${sighting.date}">

                    <div th:if="${#fields.hasErrors('sighting.date')}">
                        <p th:each="error: ${#fields.errors('sighting.date')}" th:text="${error}"
                           class="alert alert-danger"></p>
                    </div>
                </div>
            </div>

            <!--description-->
            <div class="form-group row">
                <label for="description" class="col-3 col-form-label">Description:</label>
                <div class="col-9">
                    <input type="text" name="description" id="description" class="form-control"
                           th:value="${sighting.description}">

                    <div th:if="${#fields.hasErrors('sighting.description')}">
                        <p th:each="error: ${#fields.errors('sighting.description')}" th:text="${error}"
                           class="alert alert-danger"></p>
                    </div>
                </div>
            </div>

            <!--hero-->
            <div class="form-group row">
                <label for="hero" class="col-3 col-form-label">Hero:</label>
                <div class="col-9">
                    <select name="heroId" id="hero" class="form-control">
                        <option th:each="hero : ${heroes}" th:value="${hero.heroId}" th:text="${hero.name}"
                                th:selected="${sighting.hero.heroId == hero.heroId}">
                            Hero
                        </option>
                    </select>

                    <div th:if="${#fields.hasErrors('sighting.hero')}">
                        <p th:each="error: ${#fields.errors('sighting.hero')}" th:text="${error}"
                           class="alert alert-danger"></p>
                    </div>
                </div>
            </div>

            <!--location-->
            <div class="form-group row">
                <label for="location" class="col-3 col-form-label">Location:</label>
                <div class="col-9">
                    <select name="locationId" id="location" class="form-control">
                        <option th:each="location : ${locations}" th:value="${location.locationId}"
                                th:text="${location.name}"
                                th:selected="${sighting.location.locationId == location.locationId}">
                            Location
                        </option>
                    </select>

                    <div th:if="${#fields.hasErrors('sighting.location')}">
                        <p th:each="error: ${#fields.errors('sighting.location')}" th:text="${error}"
                           class="alert alert-danger"></p>
                    </div>
                </div>
            </div>

            <!--hidden id tracking-->
            <input type="hidden" name="id" th:value="${sighting.sightingId}"/>

            <button type="submit" class="btn btn-success">Edit Sighting</button>
        </form>
    </div>
</div>
<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
</body>
</html>