<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Edit Sighting</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<!--Begin Body-->
<!--Navbar-->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1>HERO Sightings</h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="superpower" class="btn btn-outline-primary btn-lg">Superpowers</a>
        </div>
        <div class="col text-center m-3">
            <a href="hero" class="btn btn-outline-primary btn-lg">Heroes/Villains</a>
        </div>
        <div class="col text-center m-3">
            <a href="location" class="btn btn-outline-primary btn-lg">Locations</a>
        </div>
        <div class="col text-center m-3">
            <a href="sighting" class="btn btn-outline-primary btn-lg">Sightings</a>
        </div>
        <div class="col text-center m-3">
            <a href="organization" class="btn btn-outline-primary btn-lg">Organizations</a>
        </div>
    </div>
</div>

<!--error box-->
<!--<div class="col-12 m-1 text-center"
     th:if="${!errors.isEmpty()}">
    <p class="alert alert-danger" th:each="error : ${errors}"
       th:text="${error.message}">Error message</p>
</div>-->

<!--edit sighting form-->
<div class="row m-4 border">
    <div class="col-3 text-center m-3">
        <span class="h3">Edit Sighting</span>
    </div>
    <div class="col-7 text-center m-3">
        <form action="editSighting" method="POST">
            <!--date-->
            <div class="form-group row">
                <label for="date" class="col-3 col-form-label">Date:</label>
                <div class="col-9">
                    <input type="date" name="date" id="date" class="form-control"
                           th:value="${sighting.date}">
                </div>
            </div>

            <!--description-->
            <div class="form-group row">
                <label for="description" class="col-3 col-form-label">Description:</label>
                <div class="col-9">
                    <input type="text" name="description" id="description" class="form-control"
                           th:value="${sighting.description}">
                </div>
            </div>

            <!--hero-->
            <div class="form-group row">
                <label for="hero" class="col-3 col-form-label">Hero:</label>
                <div class="col-9">
                    <select name="hero" id="hero" class="form-control">
                        <option th:each="hero : ${heroes}"
                                th:value="${hero.heroId}"
                                th:text="${hero.name}"
                                th:selected="${sighting.hero.heroId == hero.heroId}">
                            Hero
                        </option>
                    </select>
                </div>
            </div>

            <!--location-->
            <div class="form-group row">
                <label for="location" class="col-3 col-form-label">Location:</label>
                <div class="col-9">
                    <select name="location" id="location" class="form-control">
                        <option th:each="location : ${locations}"
                                th:value="${location.locationId}"
                                th:text="${location.name}"
                                th:selected="${sighting.location.locationId == location.locationId}">
                            Location
                        </option>
                    </select>
                </div>
            </div>

            <!--hidden id tracking-->
            <input type="hidden" name="sightingId" th:value="sighting.sightingId"/>

            <button type="submit" class="btn btn-success">Edit Sighting</button>
        </form>
    </div>
</div>
<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
</body>
</html>