<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Heroes/Villains</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/nav.css">
</head>

<style>
    .top {
        padding-bottom: 100px;
    }

    .search {
        padding-top: 200px;
        padding-bottom: 150px;
    }

    .choose ul li {
        display: inline;
        text-align: center;
    }

    .choose ul {
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        margin: 0 auto;
        padding: 10px;
    }

    .choose {
        justify-content: space-between;
    }
</style>

<body>
<!--Begin Body-->
<div class="container-fluid">
    <!--Navbar-->
    <div class="row m-4 navBar">
        <div class="domain col text-left col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="index.html" class="domain btn btn-outline-primary btn-lg" id="home">
                <h5>Home</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">
                <h5>Heroes/Villians</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="superpower" class="btn btn-outline-primary btn-lg" id="superpower">
                    <h5>Powers</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">
                <h5>Sightings</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="organization" class="btn btn-outline-primary btn-lg" id="organization">
                    <h5>Organization</h5>
                </a>
            </div>
            <div class="subdomain col text-center col-12">
                <a href="location" class="btn btn-outline-primary btn-lg" id="location">
                    <h5>Location</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a id="about" class="btn btn-outline-primary btn-lg">
                <h5>About</h5>
            </a>
        </div>
    </div>

    <div class="top bg-img">
        <div class="box-1">
            <div class="separator"></div>
            <div id="hero-search-bar" class="search">
                <label for="search-hero-db">Name/Alias:</label>
                <input id="search-hero-db" name="search-hero-db" type="text">

                <button type="button" class="btn btn-success" id="search-hero-btn">Search</button>
            </div>
            <div class="separator"></div>

            <hr>

            <!--hero data table-->
            <div class="choose" id="hero-data">
                <ul>
                    <li>View Heroes</li>
                    <li>Database</li>
                </ul>
            </div>
            <div class="results">
                <table class="table table-dark table-striped" id="hero-table">
                    <thead>
                    <tr>
                        <th>Name/Alias</th>
                        <th>Picture</th>
                        <th>Superpower</th>
                        <th></th> <!--Details-->
                        <th></th> <!--Edit-->
                        <th></th> <!--Delete-->
                    </tr>
                    </thead>

                    <tbody id="hero-content-rows">
                    <tr th:each="hero: ${heroes}">
                        <td th:text="${hero.name}">Hero Name</td>
                        <td><img th:src="${hero.photoFileName}" style="height: 50px; padding: 0px; margin-top: 0px;"/>
                        </td>
                        <td th:text="${hero.superpower.name}">Superpower Name</td>
                        <td><a href="#" th:href="@{/viewHero(id=${hero.heroId})}"><i class="far fa-eye"></i></a>
                        </td>
                        <td><a href="#" th:href="@{/editHero(id=${hero.heroId})}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td><a href="#" th:href="@{/deleteHero(id=${hero.heroId})}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Add hero form-->
            <div class="hero-form bg-color">
                <div class="row">
                    <h3 id="add-hero-heading" class="white-text" style="margin:0 auto">Add Hero</h3>
                </div>
                <div class="row">
                    <!--add form error box-->
                    <div class="col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">
                            Error message
                        </p>
                    </div>

                    <form class="column col" action="addHero" method="POST" enctype="multipart/form-data"
                          style="padding:50px">
                        <!--name-->
                        <div class="form-group row">
                            <label for="name" class="column col-lg-5 col-form-label"><h5>Name/Alias:</h5></label>
                            <div class="column col-lg-7 col-xs-12">
                                <input type="text" name="name" class="form-control" id="name"/>
                            </div>
                        </div>

                        <!--description-->
                        <div class="form-group row">
                            <label for="description" class="column col-lg-5 col-form-label"><h5>Description:</h5>
                            </label>
                            <div class="column col-lg-7 col-xs-12">
                                <input type="text" name="description" class="form-control" id="description">
                            </div>
                        </div>

                        <!--superpower select-->
                        <div class="form-group row">
                            <label for="superpower" class="column col-lg-5 col-form-label"><h5>Superpower:</h5></label>
                            <div class="column col-lg-7 col-xs-12">
                                <select id="superpower" name="superpowerId" class="form-control">
                                    <option th:each="superpower: ${superpowers}" th:value="${superpower.superpowerId}"
                                            th:text="${superpower.name}">
                                        Superpower Name
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!--image upload-->
                        <div class="form-group row">
                            <label for="file" class="column col-form-label">Profile Picture</label>
                            <input type="file" name="file" id="file" class="column form-control-file">
                        </div>

                        <!--submit btn-->
                        <button type="submit" class="btn btn-outline-primary">Add Hero/Villain</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="bottom" id="about">
        <!-- FOOTER INFO -->
    </div>
</div>
<!--End Body-->
<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script src="header.js"></script>
<script src="footer.js"></script>
</body>
</html>