<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <!-- Style CSS -->
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="plugins/swiper.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- stylesheetsources/ -->

    <style>
        @font-face {
            font-family: 'Archivo Black';
        }

        .swiper-container {
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            margin: 0 auto;
        }

        .swiper-container img {
            background-color: rgba(0, 0, 0, 0.5);
            width: 500px;
            z-index: -5;
        }

        .swiper-slider {
            width: 500px;
        }

        .swiper-wrapper {
            width: 500px;
        }
    </style>
</head>
<body>
<!--Begin Body-->
<div class="bg"></div>
<!--Heading & Navbar-->
<div class="container-fluid">
    <div class="header"></div>

    <div class="top">
        <div class="section-1 bg-img">
            <div class="overlay"></div>
        </div>
        <div class="row m-4" style="background-color: #007aff">
            <div class="col-12" th:each="sighting: ${sightings}">
                <span th:text="${sighting.date + ' - ' + sighting.location.name + ' -  ' + sighting.hero.name}"></span>
            </div>
        </div>
        <div class="section-2">
            <h3>Improve your vision</h3>
            <p>Analyzing all heroes' activity...</p>
            <button type="button" class="btn news btn-outline-primary btn-lg" id="news">News</button>
            <hr style="background-color:rgba(255,255,255,0.15);">
            <p id="info">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a
                type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                <br><br>
                You will track a hero or a fight, as well as their contact.
            </p>
            <div class="registerLogin">
                <button type="button" class="btn register btn-outline-success btn-lg" id="register">Register</button>
                <button type="button" class="btn login btn-outline-danger btn-lg" id="login">Login</button>
            </div>
        </div>
    </div>
    <div class="middle col-sm-12" id="landingPageMiddle">
        <div class="section-1 bg-img">
            <div class="overlay" style="background-color:rgba(0,0,0,0.5);"></div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/glacier.jpg" alt="glacier">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/glacier.jpg" alt="glacier">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/glacier.jpg" alt="glacier">
                    </div>
                </div>
                <div class="swiper-pagination"
                     style="background-color:rgba(0,0,0,0.8);height:50px;padding-top:18px"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>

    <div class="bottom" id="about"></div>
</div>

<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
</body>

<!-- PLUGINS + THIRD PARTY -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="plugins/swiper.min.js"></script>

<script type="text/javascript">
    // document.addEventListener('scroll', function () {
    //     var x = window.scrollX;
    //     var y = window.scrollY;
    //     console.log(x);
    //     console.log(y);
    // });

    var lightTheme = false;

    console.log("fdsfsf");

    $("#toggleTheme").on('click', function () {
        console.log("Gfdg");
        if (lightTheme == false) {
            console.log(lightTheme);
            console.log("light");
            lightMode();
        } else if (lightTheme == true) {
            console.log(lightTheme);
            console.log("dark");
            darkMode();
        }
    })

    function darkMode() {
        console.log("dark");
        console.log("dark");
        document.getElementById("register").className = 'btn btn-outline-success btn-lg';
        document.getElementById("login").className = 'btn btn-outline-danger btn-lg';
        lightTheme = false;
    }

    function lightMode() {
        console.log("dark");
        console.log("dark");
        // REDUCE REDUNDANCY
        document.getElementById("register").className = 'btn btn-success btn-lg';
        document.getElementById("login").className = 'btn btn-danger btn-lg';
        lightTheme = true;
    }
</script>
<script src="header.js"></script>
<script src="footer.js"></script>
<script src="main.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
<link rel="stylesheet" href="styles/nav.css">
</html>