<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Organizations</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
</head>
<style>
    .top .bg-color {
        padding: 100px;
    }
</style>
<body>
<!--Begin Body-->
<div class="container-fluid">
    <!--Navbar-->
    <div class="row m-4 navBar">
        <div class="domain col text-left col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="index.html" class="domain btn btn-outline-primary btn-lg" id="home">
                <h5>Home</h5>
            </a>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">
                <h5>Heroes/Villians</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="superpower" class="btn btn-outline-primary btn-lg" id="superpower">
                    <h5>Powers</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">
                <h5>Sightings</h5>
            </a>
            <div class="subdomain col text-center col-12">
                <a href="organization" class="btn btn-outline-primary btn-lg" id="organization">
                    <h5>Organization</h5>
                </a>
            </div>
            <div class="subdomain col text-center col-12">
                <a href="location" class="btn btn-outline-primary btn-lg" id="location">
                    <h5>Location</h5>
                </a>
            </div>
        </div>
        <div class="domain col text-center col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <a id="about" class="btn btn-outline-primary btn-lg">
                <h5>About</h5>
            </a>
        </div>
    </div>

    <div class="top bg-img">
        <div class="row m-4 bg-color">
            <!--error msg-->
            <div class="col-12 m-1 text-center"
                 th:if="${!errors.isEmpty()}">
                <p class="alert alert-danger" th:each="error : ${errors}"
                   th:text="${error.message}">Error message</p>
            </div>

            <!--add organization form-->
            <div class="col-lg-3 col-sm-12 m-3 text-center">
                <span class="h3">Add Organization</span>
            </div>
            <div class="col-lg-7 col-sm-12 m-3 text-center">
                <form action="addOrganization" method="POST">
                    <div class="row form-group">
                        <label class="col-lg-3 col-sm-12 col-form-label" for="name">Name</label>
                        <div class="col-lg-9 col-sm-12">
                            <input type="text" id="name" name="name" class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="email" class="col-lg-3 col-sm-12 col-form-label">Email</label>
                        <div class="col-lg-9 col-sm-12">
                            <input id="email" name="email" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="phone" class="col-lg-3 col-sm-12 col-form-label">Phone</label>
                        <div class="col-lg-9 col-sm-12">
                            <input type="text" class="form-control" id="phone" name="phone"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="location" class="col-lg-3 col-sm-12 col-form-label">Location</label>
                        <div class="col-lg-9 col-sm-12">
                            <select id="location" name="locationId" class="form-control">
                                <option th:each="location: ${locations}" th:value="${location.locationId}"
                                        th:text="${location.name + ' ' + location.zipcode}">
                                    Address
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 col-sm-12 col-form-label" for="member">Name</label>
                        <div class="col-lg-9 col-sm-12">
                            <select multiple id="member" name="heroId" class="form-control">
                                <option th:each="hero: ${heroes}" th:value="${hero.heroId}"
                                        th:text="${hero.name + ' - ' + hero.superpower.name}">
                                    Hero
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 col-sm-12 col-form-label" for="description">Description</label>
                        <div class="col-lg-9 col-sm-12">
                            <textarea id="description" name="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Organization</button>
                </form>
            </div>
        </div>
    </div>

    <div class="middle">
        <div class="row m-4 bg-color">
            <div class="col text-center m-3">
                <!--organization data table-->
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="organization : ${organizations}">
                        <td th:text="${organization.organizationId}">Organization Id</td>
                        <td th:text="${organization.name}">Organization Name</td>
                        <td th:text="${organization.email}">Organization Email</td>
                        <td th:text="${organization.phone}">Organization Phone</td>
                        <td><a href="#" th:href="@{/displayOrgDetails(id=${organization.organizationId})}"
                        >Details</a></td>
                        <td><a href="#" th:href="@{/editOrganization(id=${organization.organizationId})}">Edit</a>
                        </td>
                        <td><a href="#"
                               th:href="@{/deleteOrganization(id=${organization.organizationId})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="bottom" id="about"></div>
</div>
<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script src="footer.js"></script>
</body>
</html>