<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Organizations</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<!--Begin Body-->
<!--Navbar-->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <a href="/"><h1>HERO Sightings</h1></a>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="superpower" class="btn btn-outline-primary btn-lg">Superpowers</a>
        </div>
        <div class="col text-center m-3">
            <a href="hero" class="btn btn-outline-primary btn-lg">Heroes</a>
        </div>
        <div class="col text-center m-3">
            <a href="location" class="btn btn-outline-primary btn-lg">Locations</a>
        </div>
        <div class="col text-center m-3">
            <a href="sighting" class="btn btn-outline-primary btn-lg">Sighting</a>
        </div>
        <div class="col text-center m-3">
            <a href="organization" class="btn btn-outline-primary btn-lg">Organization</a>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <!--error msg-->
                <div class="col-12 m-1 text-center"
                     th:if="${!errors.isEmpty()}">
                    <p class="alert alert-danger" th:each="error : ${errors}"
                       th:text="${error.message}">Error message</p>
                </div>
        <!--add location form-->
        <div class="col-3 m-3 text-center">
            <span class="h3">Add Organization</span>
        </div>
        <div class="col-7 m-3 text-center">
            <form action="addOrganization" method="POST">
                <div class="row form-group">
                    <label class="col-3 col-form-label" for="name">Name</label>
                    <div class="col-9">
                        <input type="text" id="name" name="name" class="form-control"/>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="email" class="col-3 col-form-label">Email</label>
                    <div class="col-9">
                        <input id="email" name="email" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="phone" class="col-3 col-form-label">Phone</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="phone" name="phone"/>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="location" class="col-3 col-form-label">Location</label>
                     <div class="col-9">
                            <select id="location" name="locationId" class="form-control">
                                <option th:each="location: ${locations}"
                                        th:value="${location.locationId}"
                                    th:text="${location.name + ' ' + location.zipcode}">Address
                            </option>
                        </select>
                    </div>
                </div>
                                <div class="row form-group">
                                    <label class="col-3 col-form-label" for="member">Name</label>
                                    <div class="col-9">
                                        <select multiple id="member" name="heroId" class="form-control">
                                            <option th:each="hero: ${heroes}"
                                                    th:value="${hero.heroId}"
                                                    th:text="${hero.name + ' - ' + hero.superpower.name}">Hero</option>
                                        </select>
                                    </div>
                                </div>
                <div class="row form-group">
                    <label class="col-3 col-form-label" for="description">Description</label>
                    <div class="col-9">
                        <textarea id="description" name="description" class="form-control"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Organization</button>
            </form>
        </div>

    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <!--location data table-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="organization : ${organizations}">
                    <td th:text="${organization.organizationId}">Organization Id</td>
                    <td th:text="${organization.name}">Organization Name</td>
                    <td th:text="${organization.email}">Organization Email</td>
                    <td th:text="${organization.phone}">Organization Phone</td>
                    <td><a href="#" th:href="@{/displayOrgDetails(id=${organization.organizationId})}"
                    >Details</a></td>
                    <td><a href="#" th:href="@{/editOrganization(id=${organization.organizationId})}">Edit</a></td>
                    <td><a href="#" th:href="@{/deleteOrganization(id=${organization.organizationId})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
</body>
</html>