<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Powers</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
</head>

<style>
    .middle {
        /* border: 5px solid red; */
        margin: 0 auto;
    }

    .row, .row .row {
        /* border:5px solid blue; */
        margin: 0 auto;
    }

    .col-12 {
        /* border:5px solid green; */
        margin: 0 auto;
    }

    .middle .bg-color {
        padding: 50px;
        margin: 0 auto;
    }

    .middle .superpower-form {
        padding-bottom: 500px;
    }


</style>
<body>
<!--Begin Body-->
<div class="container-fluid">
    <!--Navbar-->
    <div class="row m-4 navBar">
        <div class="col text-left col-lg-4 col-md-3 col-sm-3 col-xs-12">
            <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
            </a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="index.html" class="btn btn-outline-primary btn-lg" id="landingPage">Home</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">Heroes/Villains</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">Sightings</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a id="nav-about" class="btn btn-outline-primary btn-lg">About</a>
        </div>
    </div>

    <!--power data table-->
    <div id="superpower-data">
        <table class="table table-dark table-striped" id="superpower-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th> <!--Details-->
                <th></th> <!--Edit-->
                <th></th> <!--Delete-->
            </tr>
            </thead>

            <tbody id="superpower-content-rows">
            <tr th:each="sp : ${superpowers}">
                <td th:text="${sp.name}">Power</td>
                <td th:text="${sp.description}">Description</td>
                <td><a href="#" th:href="@{/viewSuperpower(id=${sp.superpowerId})}"><i class="far fa-eye"></a></td>
                <td><a href="#" th:href="@{/editSuperpower(id=${sp.superpowerId})}"><i class="fas fa-edit"></a></td>
                <td><a href="#" th:href="@{/deleteSuperpower(id=${sp.superpowerId})}"><i class="fas fa-trash"></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--add power form-->
    <div class="middle bg-img">
        <div class="row bg-color text-center">
            <h3>Add Superpower</h3>
        </div>

        <div class="row superpower-form bg-color justify-content-center">
            <!--edit form error box-->
            <div class="col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
                <p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">Error message</p>
            </div>

            <form action="addSuperpower" method="POST">
                <!--name-->
                <div class="form-group row">
                    <label for="name" class="col-12 col-form-label">Power:</label>
                    <div class="col-12">
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                </div>

                <!--description-->
                <div class="form-group row">
                    <label for="description" class="col-12 col-form-label">Description:</label>
                    <div class="col-12">
                        <input type="text" name="description" class="form-control" id="description">
                    </div>
                </div>

                <!--submit btn-->
                <button type="submit" class="btn btn-outline-primary">Add Power</button>
            </form>
        </div>
    </div>

    <div class="bottom" id="about"></div>
</div>

<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script src="footer.js"></script>
</body>
</html>