<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<!--Begin Body-->
<!--Navbar-->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1>HERO Sightings - View Sighting</h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="superpower" class="btn btn-outline-primary btn-lg">Teachers</a>
        </div>
        <div class="col text-center m-3">
            <a href="hero" class="btn btn-outline-primary btn-lg">Students</a>
        </div>
        <div class="col text-center m-3">
            <a href="location" class="btn btn-outline-primary btn-lg">Courses</a>
        </div>
        <div class="col text-center m-3">
            <a href="sighting" class="btn btn-outline-primary btn-lg">Courses</a>
        </div>
        <div class="col text-center m-3">
            <a href="organization" class="btn btn-outline-primary btn-lg">Courses</a>
        </div>
    </div>
</div>

<div class="row m-4 border">
    <div class="col-6 text-right"><strong>ID:</strong></div>
    <div class="col-6 text-left">
        <span th:text="${sighting.sightingId}">display id</span>
    </div>

    <div class="col-6 text-right"><strong>Date:</strong></div>
    <div class="col-6 text-left">
        <span th:text="${sighting.date}">display date</span>
    </div>

    <div class="col-6 text-right"><strong>Description:</strong></div>
    <div class="col-6 text-left">
        <span th:text="${sighting.description}">display description</span>
    </div>

    <div class="col-6 text-right"><strong>Hero:</strong></div>
    <div class="col-6 text-left">
        <span th:text="${sighting.hero.name}">display name</span>
    </div>

    <div class="col-6 text-right"><strong>Location:</strong></div>
    <div class="col-6 text-left">
        <span th:text="${sighting.location.name}">display location</span>
    </div>

    <div class="col-6 text-right"><strong>Address:</strong></div>
    <div class="col-6 text-left">
        <span th:text="${sighting.location.street + ' ' + sighting.location.city + ' ' + sighting.location.state + ' '
        + sighting.location.zipcode}">display address</span>
    </div>

    <div class="col-6 text-right"><strong>Coordinates:</strong></div>
    <div class="col-6 text-left">
        <span th:text="${sighting.location.latitude + ' ' + sighting.location.longitude}">display coordinates</span>
    </div>
</div>
<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
</body>
</html>