<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hero Sightings - Sighting Details</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
</head>
<style>
    .middle-viewLayout .bg-color {
        padding: 100px;
    }

    iframe {
        width: 100%;
        height: 90%;
    }

    #map_wrapper {
        height: 400px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }

    .googleMap {
        margin-bottom: 0;
        height: 100%;
    }
</style>
<body>
<!--Begin Body-->
<div class="container-fluid">
    <!--Navbar-->
    <div class="row m-4">
        <div class="col text-left col-lg-4 col-md-3 col-sm-3 col-xs-12">
            <a id="toggleTheme" class="btn btn-outline-info btn-lg">
                <h5 class="themeStatus" style="display:inline;color:white">Dark</h5>
            </a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="index.html" class="btn btn-outline-primary btn-lg" id="landingPage">Home</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="hero" class="btn btn-outline-primary btn-lg" id="heroes">Heroes/Villians</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="sighting" class="btn btn-outline-primary btn-lg" id="sightings">Sightings</a>
        </div>
        <div class="col text-center col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a id="nav-about" class="btn btn-outline-primary btn-lg">About</a>
        </div>
    </div>
</div>

<div class="row m-4 bg-img">
    <div class="col text-center bg-color">
        <h1>HERO Sightings - View Sighting</h1>
    </div>
</div>

<div class="middle-viewLayout bg-img">
    <!--view sighting to be deleted-->
    <div class="middle-deleteConfirmation bg-img">
        <div class="row m-4 view-hero bg-color white-text">
            <div class="column sec-1 col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-6 text-right"><strong>ID:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${sighting.sightingId}">display id</span>
                    </div>

                    <div class="col-6 text-right"><strong>Date:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${sighting.date}">display date</span>
                    </div>

                    <div class="col-6 text-right"><strong>Description:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${sighting.description}">display description</span>
                    </div>

                    <div class="col-6 text-right"><strong>Hero/Villain:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${sighting.hero.name}">display hero/villain</span>
                    </div>

                    <div class="col-6 text-right"><strong>Hero/Villain Image:</strong></div>
                    <div class="col-6">
                        <img th:src="${hero.photoFileName}" alt="Hero picture" style="height: 100px; padding: 0px"/>
                    </div>

                    <div class="col-6 text-right"><strong>Location:</strong></div>
                    <div class="col-6 text-left">
                        <span th:text="${sighting.location.name}">display City</span>
                    </div>

                    <div class="col-6 text-right"><strong>Sighting Address:</strong></div>
                    <div class="col-6 text-left">
                            <span th:text="${sighting.location.street + ' ' + sighting.location.city + ' '
                            + sighting.location.state + ' ' + sighting.location.zipcode}">
                                display Address
                            </span>
                    </div>

                    <div class="col-6 text-right"><strong>Sighting Coordinates:</strong></div>
                    <div class="col-6 text-left">
                            <span th:text="${sighting.location.latitude + '/' + sighting.location.longitude}">
                                display Coordinates
                            </span>
                    </div>
                </div>
            </div>

            <div class="column sec-2 col-sm-12 col-lg-6" style="padding: 0px;">
                <div class="col-12"><strong>View Location:</strong></div>
                <div class="googleMap"></div> <!--iframe loads here-->
            </div>
        </div>
    </div>

    <div class="bottom" id="about"></div>
</div>
<!--End Body-->

<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/33e502fc2c.js" crossorigin="anonymous"></script>
<script th:inline="javascript">
    function loadMap() {
        const apiKey = "AIzaSyBpD442VLkwZ5_Kp795_zE-UWHy8-6EBQc";
        var map = [[${location}]];

        var mapsrc = "https://www.google.com/maps/embed/v1/place?key=" + apiKey + "&q=" + map.latitude + ","
            + map.longitude + "&center=" + map.latitude + "," + map.longitude + "&zoom=18";

        $('<iframe>', {
            src: mapsrc,
            width: "50px",
            height: "50px",
            frameborder: "0",
            style: "border:0"
        }).appendTo('.googleMap');

        $('iframe').attr('allowfullscreen', '');
    }

    $(document).ready(loadMap);
</script>
<script src="main.js"></script>
<script src="footer.js"></script>
</body>
</html>