.container-fluid {
    background-color: black;
}

body {
    text-align: center;
    margin: 0 auto;
    background-color: black;
}

.bg-img {
    background-attachment: fixed;
    background-image: url("../assets/cover-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.75);
}

.footer {
    padding: 50px;
}

h1 a {
    color: black;
}

.nav {
    /* border: 5px solid blue; */
    float: right;
    height: 8.5%;
    color:rgba(255, 196, 0, 0.85);
    background-color: black;
    z-index: 3;
}

.nav a {
    color:rgba(0, 195, 255, 0.85);
}

.nav ul, .nav ul li {
    float: left;
    list-style: none;
    z-index: 3;
}

.nav ul li ul li a:hover {
    background-color: black;
    z-index: 3;
}

.nav ul li {
    background-color: rgba(0, 0, 0, 0.534);
    position: relative;
    padding-left: 20px;
    padding-right: 100px;
    z-index: 3;
}

.nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.nav a:hover {
    text-decoration: none;
    color:white;
}

.nav ul li a {
    display: block;
    padding: 23px 15px;
}

.nav ul li ul {
    display: none;
    position: absolute;
    padding: 20px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    padding: 0px;
    left: auto;
    margin-right: 100px;
}

a {
    z-index: 3;
}

.top {
    /* border: 5px solid black; */
    height: 200%;
    padding: 0px;
}

.middle {
    /* border: 5px solid green; */
    height: 100%;
    align-items: center;
}

.bottom {
    /* border: 5px solid red; */
    background-color: black;
}

img {
    height: 80%;
    padding: 80px;
    margin: 0 auto;
    margin-top: 50px;
}

.row {
    /* border: 5px solid teal; */
    /* align-items: center; */
}

p {
    font-size: 20px;
    padding: 30px;
}

.bottom img {
    height: 600px;
}

.bottom p {
    color: white;
}

.bottom {
    padding-top: 100px;
    background-color:rgb(5, 5, 5);
}

.bottom h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: rgb(88, 88, 88);
}

.bottom a{
    color: white;
}
.bottom a:hover {
    text-decoration: none;
    color:rgba(255, 196, 0, 0.85);
}


























.footer a {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    padding-top: 3.6px;
    
}

.fa {
  border-radius: 100%;
  font-size: 30px;
  height: 5%;
  width: 2.5%;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}