.all {
    background-color: rgba(8, 8, 8, 0.8);
}
.title {
    /* border: 5px solid pink; */
    height: 30%;
    text-align: center;
}
.title h1 {
    font-size: 50px;
    padding-top: 50px;
}

.top, .middle, .bottom {
    padding: 20px;
}

h1 a {
    color: black;
}
h1 a:hover {
    text-decoration: none;
    color: darkgreen;
}

.nav {
    /* border: 5px solid blue; */
    height: 10%;
    color:rgba(255,255,255,0.85);
    background-color: rgba(0, 0, 0, 0.88);
}

.nav ul, .nav ul li {
    float: left;
    list-style: none;
}

.nav ul li ul li a:hover {
    background-color: green;
}

.nav ul li {
    position: relative;
    padding-left: 20px;
    padding-right: 100px;
}

.nav ul li:hover {
    background-color: green;
    text-decoration: none;
}

.nav a {
    color:white;
}
.nav a:hover {
    text-decoration: none;
    color:limegreen;
}

.nav ul li a {
    display: block;
    padding: 23px 15px;
}

.nav ul li ul {
    display: none;
    position: absolute;
    padding: 20px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    padding: 20px;
    background-color: green;
}

a {
    z-index: 3;
}

.top {
    /* border: 5px solid black; */
    height: 200%;
}

.info {
    /* border: 5px solid orange; */
    height: 100%;
}
.info-1 {
    /* border: 5px solid yellow; */
    height: 70%;
    width: 100%
}
.info-2 {
    /* border: 5px solid yellow; */
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    color:rgba(255,255,255,0.85);
}

.news {
    height: 100%;
}

.news-1 {
    /* border: 5px solid yellow; */
    height: 50%;
    background-color: rgba(0, 0, 0, 0.88);
    color:rgba(255,255,255,0.85);
}

.news-1 h3 {
    padding: 20px;
}

.news, .info {
    background-color: rgba(0, 0, 0, 0.88);
    padding: 20px;
}

.news-2, news-2 img {
    /* border: 5px solid yellow; */
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.88);
    color:rgba(255,255,255,0.85);
}

.middle {
    /* border: 5px solid green; */
    height: 150%;
    align-items: center;
}

.bottom {
    /* border: 5px solid red; */
    height: 20%;
    background-color: black;
    margin-bottom: 0px;
}

img {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.row {
    /* border: 5px solid teal; */
    /* align-items: center; */
}

p {
    font-size: 20px;
    padding: 30px;
}

h3 {
    font-size: 25px;
    text-decoration: black;
    padding-top: 30px;
}

body {
    text-align: center;
}

.column {
    /* border: 5px solid black; */
}

.separator {
    padding: 20px;
}

.bg {
    background: black url("assets/trippy.jpg") no-repeat center fixed;
    background-size: cover;
    filter: blur(8px);
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    transition-property: opacity;
    transition-duration: 3800ms;
    opacity: 0%;
}

body {
    background: black url("assets/heaven.jpg") no-repeat center fixed;
    background-size: cover;
    color: black;
}

.news-2 img {
    height: 424px;
}

/* SIGHTING */
.sightingGallery {
    border: 5px solid black;
    height: 30%;
    background: black url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/eb437c20671939.5a016fcdd7afe.png") no-repeat center fixed;
}

.sightingsTitle {
    border: 5px solid black;
    height: 3%;
    background-color: rgba(0, 0, 0, 0.75);
}







/* HEROES */
/* .search {
    height: 2%;
    border: 5px solid black;
    width: 100%;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.25);
} */

input {
    width: 30%;
}

.separator {
    height: 10%;
}

.choose {
    border: 5px solid black;
    height: 3%;
    background-color: rgba(0, 0, 0, 0.75);
}

.choose ul li {
    position: relative;
    float: left;
    padding-left: 180px;
    padding-right: 180px;
    color: limegreen;
    font-size: 20px;
    list-style: none;
    width: 50%;
}
.choose ul li:hover {
    background-color: green;
}

.results {
    border: 5px solid black;
    /* box-shadow: 5px 2px 1px black; */
    background-color: rgba(0, 0, 0, 0.5);
    height: 60%;
}









.column .left, .column .right {
    height: 30%;
}

.left img, .right p {
    padding: 80px;
}
.left img {
    width: 82%;
}

.about-1 .column {
    background-color: rgba(0, 0, 0, 0.65);
}

.top-about {
    border: 5px solid black;
    height: 60%;
}

.top-about {
    background: black url("https://image.winudf.com/v2/image/Y29tLmh1YWRvbmcuZmVuZ2ppbmcxX3NjcmVlbnNob3RzXzBfM2I2ZTkzNzU/screen-0.jpg?fakeurl=1&type=.jpg") no-repeat center fixed;
}