<html>

<head>
    <title>

    </title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to BS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Style CSS -->
<!--    <link rel="stylesheet" href="index.css">-->
    <link rel="stylesheet" href="plugins/swiper.min.css">
    <link rel="stylesheet" th:href="@{index.css}"/>

    <style>
        .box-1 {
            padding-top: 150px;
            margin: 0 auto;
        }

        .swiper-container {
            background-color: rgba(0, 0, 0, 0.5);
            height: 500px;
            width: 100%;
            margin: 0 auto;
            z-index: 0;
        }

        .swiper-container img {
            width: 500px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -5;
        }

        /* .swiper-container img {
            width: 500px;
        } */

        .swiper-slider {
            width: 500px;
        }

        .swiper-wrapper {
            width: 500px;
        }

        .hoverBox {
            background-color: rgba(0, 0, 255, 0.5);
            z-index: 5;
        }

        .top {
            background-image: url("assets/cover-4.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .search {
            padding-top: 30px;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
        }

        .results {
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }
    </style>
</head>

<body>
<div class="bg"></div>
<div class="container-fluid">
    <div class="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="heroes.html">Heroes</a>
                <ul>
                    <li><a href="heroes.html">Powers</a></li>
                    <li><a href="heroes.html">Organizations</a></li>
                </ul>
            </li>
            <li><a href="sightings.html">Sightings</a>
                <ul>
                    <li><a href="sightings.html" id="scrollToLocation">Location</a></li>
                </ul>
            </li>
            <li><a href="about.html">About Us</a>
            </li>
        </ul>
    </div>
    <div class="all">
        <div class="top">
            <div class="box-1">
                <!-- ITUNES-LIKE SLIDER -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" onhover="hoverText">
                            <img src="assets/glacier.jpg" alt="Glacier">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/glacier.jpg" alt="Glacier">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/glacier.jpg" alt="Glacier">
                        </div>
                    </div>
                    <!-- DOT NAV -->
                    <div class="swiper-pagination"></div>
                    <!-- NOT SURE YET -->
                    <div class="swiper-scrollbar"></div>
                </div>
                <!-- <div class="sightingGallery">

                </div> -->
                <div class="separator"></div>
                <div class="search">
                    <div id="hero-search-bar" class="search">
                        <label for="search-hero-db"></label>
                        <input id="search-hero-db" name="search-hero-db" type="text">
                    </div>
                    <button type="button" class="btn btn-primary btn-md" id="search-hero-btn">Search</button>
                </div>
                <div class="separator"></div>
                <div class="choose">
                    <ul>
                        <li>Sightings</li>
                    </ul>
                </div>
                <div class="results">

                </div>
            </div>
        </div>

        <div class="middle">

        </div>

        <div class="bottom">
            <div class="row">
                <div class="column col-6">
                    <h3>Our Mission</h3>
                    <p style="padding:50px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's
                        standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make
                        a type
                        specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining
                        essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        Ipsum
                        passages, and
                        more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                        Ipsum.
                    </p>
                    <!--description-->
                    <div class="form-group row justify-content-center align-items-center">
                        <label for="description-input" class="col-form-label"></label>
                        <div class="col-7">
                            <input type="text" name="description-input" class="form-control" id="description-input">
                        </div>
                        <button type="button" class="btn btn-outline-warning btn-lg" id="send">Send Feedback</button>
                    </div>
                </div>
                <div class="column col-4">
                    <h3>About</h3>
                    <p style="padding:50px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make
                        a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining
                        essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        Ipsum
                        passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                        Ipsum.</p>
                </div>
                <div class="column col-2">
                    <h3 style="text-align:right">SEARCH</h3><br><br>
                    <ul style="list-style:none;text-align:right;color:white">
                        <a href="#">
                            <li>News</li>
                        </a>
                        <a href="#">
                            <li>Account</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr style="background-color:rgba(255,255,255,0.1);">
        </div>
        <div class="footer">
            <!-- Add font awesome icons -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-reddit"></a>
            <br><br>
            @Copyright iTimmy
        </div>
    </div>
</div>
</body>

<!-- PLUGINS + THIRD PARTY -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="plugins/swiper.min.js"></script>

<script type="text/javascript">
    // no use right now
    $(".sightingGallery").on('click', function (event) {
        console.log("a");
        event.scrollToSightingsLocation;
    });

    var hoverText = document.querySelector(".hoverText");

    function scrollToSightingsLocation(event) {
        console.log("on");
        window.scrollX = 2248;
    }

    document.addEventListener('scroll', function () {
        var x = window.scrollX;
        var y = window.scrollY;
        console.log(x);
        console.log(y);
    });
</script>

<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>

</html>